.root {
  @apply relative mb-4 block h-[350px] min-w-full overflow-hidden bg-slate-800 ring-rose-500 ring-offset-4 transition duration-500 ease-in-out hover:ring dark:ring-offset-slate-900 md:min-w-[470px] md:hover:scale-105 2xl:h-[500px] 2xl:min-w-[630px];
}

.image {
  @apply transition duration-300 ease-in-out group-hover:scale-110;
}

.content {
  @apply absolute inset-0 flex flex-col justify-end bg-slate-900 bg-opacity-40 p-5 text-white #{!important};
}
