@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'TT Commons';
  src: url('/fonts/TT.Commons/TTCommons-Regular.ttf');
  font-display: swap;
}
@font-face {
  font-family: 'TT Commons Demibold';
  src: url('/fonts/TT.Commons/TTCommons-DemiBold.ttf');
  font-display: swap;
}
@font-face {
  font-family: 'TT Commons Medium';
  src: url('/fonts/TT.Commons/TTCommons-Medium.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'TT Commons Bold';
  src: url('/fonts/TT.Commons/TTCommons-Bold.ttf');
  font-display: swap;
}

html,
body {
  @apply font-body scroll-smooth 2xl:text-xl;
}
body {
  @apply dark:bg-slate-900 bg-slate-100 transition duration-100 ease-in-out text-slate-900 dark:text-slate-300;
}
.prose pre {
  @apply bg-slate-800 dark:bg-[#0d1424] !important;
}
code {
  @apply font-mono !important;
}
.prose code {
  @apply font-mono text-sm whitespace-pre bg-slate-800 dark:bg-[#0d1424] !important;
}
.prose svg {
  width: 0;
  height: 0;
}

/* NProgress */
/* Make clicks pass-through */
:root {
  --nprogress-color: #ef4444;
}
#nprogress {
  pointer-events: none;
}
#progress:after {
  display: block;
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
}
#nprogress .bar {
  background: var(--nprogress-color);
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}
.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}
@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
