@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'TT Commons';
  src: url('/fonts/TT.Commons/TTCommons-Regular.ttf');
  font-display: swap;
}
@font-face {
  font-family: 'TT Commons Demibold';
  src: url('/fonts/TT.Commons/TTCommons-DemiBold.ttf');
  font-display: swap;
}
@font-face {
  font-family: 'TT Commons Medium';
  src: url('/fonts/TT.Commons/TTCommons-Medium.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'TT Commons Bold';
  src: url('/fonts/TT.Commons/TTCommons-Bold.ttf');
  font-display: swap;
}

html,
body {
  @apply font-body scroll-smooth 2xl:text-xl;
}
body {
  @apply dark:bg-slate-900 bg-slate-100 transition duration-100 ease-in-out text-slate-900 dark:text-slate-400;
}
.prose pre {
  @apply bg-slate-800 dark:bg-[#0d1424] !important;
}
code {
  @apply font-mono whitespace-pre !important;
}
.prose code {
  @apply font-mono text-sm !important;
}
.prose svg {
  width: 0;
  height: 0;
}
